# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [3]:
l = [1,2,3]

In [4]:
type(l)

list

### Basic operations
![](images/list_oper.png)

In [5]:
len(l)

3

In [6]:
t = [4,5,6]

In [7]:
l + t

[1, 2, 3, 4, 5, 6]

In [8]:
[1]*3

[1, 1, 1]

In [9]:
4 in l

False

In [10]:
for x in l:
    print(x)

1
2
3

In [11]:
basket = ["apple", "orange","banana"]

In [12]:
for fruit in basket:
    print(fruit)

apple
orange
banana

### Indexing and list slicing

![](images/indexing.png)

In [35]:
l[1:-1]

[2, 3, 4]

In [26]:
k

[2, 3, 4, 5]

In [13]:
l = [1,2,3,4,5]

In [14]:
l

[1, 2, 3, 4, 5]

In [17]:
l[-1]

5

### Updating the list

- insert

- append

In [36]:
[1,2,3]+[4]

[1, 2, 3, 4]

In [37]:
l=[1,2,3]

In [38]:
l.append(4)

In [41]:
l

[1, 2, 5, 3, 4]

In [40]:
l.insert(2,5)

### Deleting list elements

- del
- pop
- remove

In [42]:
del l

In [44]:
l = [1,2,3,4]

In [48]:
k = l.pop(0)

In [49]:
k

1

In [50]:
l

[2, 3]

In [51]:
l = [1,1,1,2,3]

In [55]:
l.remove(1)

In [53]:
l

[1, 1, 2, 3]

In [56]:
while 1 in l[5:]:
    l[5:].remove(1)

In [57]:
l

[2, 3]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [58]:
l = [3,2,4,1]

In [59]:
sorted(l)

[1, 2, 3, 4]

In [60]:
l

[3, 2, 4, 1]

In [61]:
l.sort()

In [62]:
l

[1, 2, 3, 4]

In [65]:
list(reversed(l))

[4, 3, 2, 1]

In [66]:
l

[1, 2, 3, 4]

In [73]:
l.reverse()

In [74]:
l

[4, 3, 2, 1]

### map, strip and split function (just some utilities when you input a list)

In [84]:
a = "1a2a3a4a5"

In [85]:
l = a.split('a')

In [86]:
l

['1', '2', '3', '4', '5']

In [81]:
convert_to_int = lambda x:int(x)

In [91]:
map(int, l)

In [89]:
a = list(map(int, input().split()))

1 2 3 4 5

In [107]:
a = "1a2a3a"

In [108]:
a.split('a')

['1', '2', '3', '']

In [96]:
list(map(int, input().split().remove('')))

1 2 3

[1, 2, 3]

In [115]:
t = int(input())

for _ in range(t):
    _ = int(input())
    l = list(map(int, input().split()))
    print(sum(l))

1
2
1 2
3

In [114]:
for x in range(10):
    print(x)
    x = 0

0
1
2
3
4
5
6
7
8
9

In [111]:
_

['1', '2', '3', '']

### Printing a list using join

In [124]:
l = [1,2,3]

In [128]:
",".join(list(map(str, l)))

'1,2,3'

In [122]:
l

'[1, 2, 3]'

In [120]:
print("\t".join(list(map(str,l))))

1	2	3

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

In [139]:
a = [[1,2],[3,4]]

In [140]:
b = [[5,6],[7,8]]

In [141]:
sum(a,b)

[[5, 6], [7, 8], 1, 2, 3, 4]

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [142]:
k = (1,2,3)

In [144]:
k[0] = -1

TypeError: 'tuple' object does not support item assignment

In [143]:
sorted(k)

[1, 2, 3]

### List to tuple and tuple to list...

In [145]:
k = list((1,2,3))

In [146]:
k

[1, 2, 3]

### Returning multiple values from functions (The returned thing is a tuple!)

In [147]:
def addmul(a,b):
    return a+b,a*b

In [148]:
addmul(1,2)

(3, 2)

In [149]:
a = 1,2

In [150]:
a

(1, 2)

In [154]:
b = (1,)

In [155]:
type(b)

tuple

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

In [163]:
a = (1,2,3)
b = (1,2,3)

In [164]:
a is b

False

In [161]:
a = [1,2,3]
b = a

In [162]:
a is b

True

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [185]:
d = {"a":1, "b":2, "c":3}

In [172]:
d['a']

1

In [173]:
d['b']

2

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [178]:
d.get('d', "not found")

'not found'

In [179]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [180]:
d = [('a',1), ('b',2), ('c',3)]

In [182]:
def get_val(d, ele):
    for key,value in d:
        if key == ele:
            return value
    return None

In [184]:
get_val(d, 'b')

2

In [189]:
d = {(1,2):"a", (1,2):"b"}

In [190]:
d[(1,2)]

'b'

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

In [191]:
points = {(1,2):1, (0,0):2}

In [ ]:
p = [[0,1,1],[0,0,0],[0,2,0]]

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [194]:
a = {1,1,2,3}

In [193]:
type(a)

set

In [195]:
a

{1, 2, 3}

In [197]:
a = {1,2,3}
b = {1,2,4}

In [199]:
a.union(b)

{1, 2, 3, 4}

In [200]:
a.difference(b)

{3}

In [201]:
a.intersection(b)

{1, 2}

In [202]:
l = [1,2,3,1,1,2,3,3,4]

In [203]:
set(l)

{1, 2, 3, 4}

In [204]:
list(set(l))[-2]

3

In [206]:
m = max(l)
l.remove(m)
max(l)

3

In [210]:
def add(*nums):
    print(type(nums))
    return sum(nums)

In [208]:
add(1,2)

3

In [211]:
add(1,2,3)

<class 'tuple'>

6

In [214]:
def add_record(*marks, **data):
    print(marks, data)

In [215]:
add_record(1,2,3,4, name="nikhil", age=10)

(1, 2, 3, 4) {'name': 'nikhil', 'age': 10}

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)